.about {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 2rem;
    flex-wrap: wrap;
}

.about-image {
    width: 30rem;
    height: auto;
}

.about-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    margin: 1rem;
}

.about-h1 {
    font-size: 3rem;
    font-weight: bold;
    width: 99%;
    display: inline-block;
    border-bottom: 0.5rem solid black;
    margin-bottom: 0.5rem;
    padding-bottom: 0.3rem;
}

.about-p {
    padding-top: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    flex-wrap: wrap;
}

.about-button {
    display: inline-block;
    background-color: white;
    color: black;
    margin-top: 2rem;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: solid black;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.about-button:hover {
    background-color: black;
    color: white;
}
@media (max-width: 1200px) {
    .about {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-image {
        width: 50rem;
        height: auto;
    }

    .about-text {
        padding: 2rem;
        max-width: 100%;
    }

    .about-h1 {
        font-size: 2.5rem;
    }

    .about-p {
        font-size: 1.5rem;
        text-align: center;
    }

    .about-button {
        font-size: 1rem;
        margin: 2rem;
    }
}